*::before, *::after {
    box-sizing: border-box;
}
.col-md-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.mx-auto{margin-right: auto !important;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
